/* http://stackoverflow.com/questions/1202425/html-css-making-the-main-scrollbar-always-visible */
html { 
  overflow: -moz-scrollbars-vertical;  
  overflow-y: scroll; 
} 

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-unit {
  background-image: url('../img/fiftyeight.png'); 
  background-color: #000000;
  background-size: 512px 512px; 
  background-position: center;
  background-repeat:no-repeat;
  height: 192px;
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8
{
  list-style-type: decimal;
}